<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Courses</title>
</head>
<body>
<div align="center">
    <h1>Courses</h1>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Name</th>
            <th>Duration</th>
            <th>Free Places</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="courses : ${courses}">
            <td th:text="${courses.namecs}">Name</td>
            <td th:text="${courses.duration}">Surname</td>
            <td th:text="${courses.freePlaces}">Age</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>